<script src="/bower_components/oauth-signature/dist/oauth-signature.js"></script>

<!--<div ng-include="'components/navbar/navbar.html'"></div>-->

<body>
  <div class="nav" ng-show="isLoggedIn()">
    <a href="" ng-click="logout()">
      Logout
    </a>
  </div>
  <div class="nav" ng-show="!isLoggedIn()">
    <a href="/login">
      Login
    </a>
  </div>
  <h1>
    NightLifeApp
  </h1>
  <h2 >Where are you?</h2>
  <form ng-submit="search()">
    <input type='text' ng-model="searchText">
  </form>
  <div class="container">
    <div class="slide" ng-repeat="b in businesses">
      <img ng-src="{{b.image_url}}"></img>
      <div class="details">
        <div class="title">{{b.name}}</div>
        <div class="stars">
          <span ng-repeat="a in getTimes(b.rating,'floor') track by $index">★</span><span ng-repeat="a in getTimes(5-b.rating,'ceil') track by $index">☆</span>
        </div>
        <div class="description">{{b.snippet_text}}</div>
        <div class="going" ng-click="going(b.name)">Going: {{b.going}}</div>
      </div>
    </div>
  </div>
</body>