body{
    text-align:center;
    color:black;
    background:#251673;

}
h1{
    color:#FFD90D;
    margin-top:40px;
}
h2{
    color:#8B6ED7;
    
}
input{
    height:30px;
    width:50%;
    margin:10px;
    background:white;
    color:black;
}
.container{
    margin-top:20px;
    color:#8B6ED7;
}

.slide{
    border:solid;
    border-width:1px;
    width:70%;
    margin:0 auto;
    text-align: left;
    padding:10px;
    display:flex;
}
img{
    display:inline-block;
    width:200px;
}
.title{
    display:inline-block;
    font-size:18px;
    color:#FFEA7A;
}

.details{
    display:inline-block;
    position:relative;
    left:10px;
    padding: 0 10px;
    color:#9A8ED8;
}
.going{
    background:#7C45D6;
    display:inline-block;
    padding:5px;
    border-radius:5px;
    cursor:pointer;
    color:#FFE973;
}

.stars{
    color:#FFD90D;
}

.nav {
    position:absolute;
    right:60px;
    font-size:20px;
    color:#7C45D6 !important;
}
a{
    color:#7C45D6;
    text-decoration: none;
}

a:hover{
    color:#7C45D6;
    text-decoration: none;
}
